<?xml version="1.0"?>
<model>
  <name>brick</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Daniel Ruan</name>
    <email>daniel.ruan@princeton.edu</email>
  </author>
  <description>
    Simple wooden block representing a scaled brick.
  </description>
</model>