<?xml version="1.0"?>
<model>
  <name>workcell</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Daniel Ruan</name>
    <email>daniel.ruan@princeton.edu</email>
  </author>
  <description>
    ABB IRB 120 workcell environment imported from Rhino.
  </description>
</model>