<?xml version="1.0" ?>

<robot name="abb_irb120_3_60" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find abb_irb120_description)/urdf/irb120_3_60_macro.xacro"/>
  <xacro:include filename="$(find abb_irb120_description)/urdf/gripper_macro.xacro"/>
  <xacro:abb_irb120_3_60 prefix=""/>
  <xacro:gripper prefix=""/>

  <joint name="tool0-gripper_base" type="fixed">
    <parent link="tool0"/>
    <child link="gripper_base"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="vacuum_tcp_calibrated"/>
  <joint name="tool0-vacuum_tcp_calibrated" type="fixed">
        <parent link="tool0"/>
        <child link="vacuum_tcp_calibrated"/>
        <origin xyz="0 0 0.184" rpy="0 0 ${radians(90)}"/>
    </joint>
</robot>
